<!-- Page Container -->
<div class="petbackground">
   <!-- Owner Info-->
      <div class="w5-card w5-round w5-white">
        <div class="w3-container">
          <h4 class="w3-center">Welcome to PetCetera, {{firstName}}!</h4>
          <hr>
        </div>
      </div>
  
   <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
     <!-- The Grid -->
     <div class="w3-row">
       <!-- Left Column -->
       <div class="w3-col m3">
         


         <!-- Profile -->
         <div class="w3-card w3-round w3-white">
           <div class="w3-container">
          <!--Handlebar referencing Pet Info will go here-->
            <h4 class="w3-center">Pet Name</h4>
            <p class="w3-center"><img src="" class="w3-circle" style="height:106px;width:106px" alt="Pet Pic"></p>
            <hr>
            <p><i class="fa fa-heart-o fa-fw w3-margin-right w3-text-theme"></i>Species</p>
         <p><i class="fa fa-heart fa-fw w3-margin-right w3-text-theme"></i>Breed</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>Address</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>Birthdate</p>
         <p><i class="fa fa-microchip fa-fw w3-margin-right w3-text-theme"></i>Microchip ID</p>
         <button type="button" class="btn btn-primary" id="addPetBtn" onclick="addPet()">Update Pet</button>
         <br>
        </div>
         </div>
         <br>



     


         <!-- Profile -->
         <div class="w3-card w3-round w3-white">
           <div class="w3-container">
          <!--Handlebar referencing Pet Info will go here-->
            <h4 class="w3-center">Pet Name</h4>
            <p class="w3-center"><img src="" class="w3-circle" style="height:106px;width:106px" alt="Pet Pic"></p>
            <hr>
            <p><i class="fa fa-heart-o fa-fw w3-margin-right w3-text-theme"></i>Species</p>
         <p><i class="fa fa-heart fa-fw w3-margin-right w3-text-theme"></i>Breed</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>Address</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>Birthdate</p>
         <p><i class="fa fa-microchip fa-fw w3-margin-right w3-text-theme"></i>Microchip ID</p>
         <button type="button" class="btn btn-primary" id="addPetBtn" onclick="addPet()">Update Pet</button>
         <br>
        </div>
         </div>
         <br>
            
       <!-- End Left Column -->
       </div>
       
       <!-- Middle Column -->
       <div class="w3-col m7">
       
         <div class="w3-row-padding">
           <div class="w3-col m12">
             <div class="w3-card w3-round w3-white">
               <div class="w3-container w3-padding">
                 <h6>COMING SOON! Forum</h6>
                 <p contenteditable="true" class="w3-border w3-padding" placeholder="share a recommendation"></p>
                 <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button> 
               </div>
             </div>
           </div>
         </div>
         
         <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
            <h4><i class="fa fa-location-arrow fa-fw w3-margin-right w3-text-theme"></i>View Providers Near You</h4><br>
            <div id="yelpResults"></div>
            <button onclick="getLocation()">Allow Access to Location</button>
            <p>Enter Type</p>
            <input class="w3-input w3-border" type="text" placeholder="dog salons" id="searchProv">
            <p id="demo"></p>
            <p><button onclick="yelpSearch()" class="w3-button w3-dark-grey" id="yelpBtn">Search</button></p>
        </div>
         
         <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
           <h4>Pet Records</h4><br>
           <hr class="w3-clear">
           <p>COMING SOON! Store all of the important information needed to keep your pets healthy and happy in one secure location.</p>
        </div>       
         
       <!-- End Middle Column -->
       </div>
       
       <!-- Right Column -->
       <div class="w3-col m2">
         <div class="w3-card w3-round w3-white w3-center">
           <div class="w3-container">
            <h4><i class="fa fa-calendar-o fa-fw w3-margin-right w3-text-theme"></i>Upcoming Events</h4><br>
            <p><strong>FUNCTION COMING SOON</strong></p>
            <p>Friday 15:00</p>
            <p><button class="w3-button w3-block w3-theme-l4">Info</button></p> 
          </div>
         </div>
         <br>
         
         <div class="w3-card w3-round w3-white w3-center">
           <div class="w3-container">
             <p>Calendar</p>
            </div>
         </div>
         <br>
         
         <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
           <p>Placeholder</p>
         </div>
         <br>
                 
       <!-- End Right Column -->
       </div>
       
     <!-- End Grid -->
     </div>
     
   <!-- End Page Container -->
   </div>
   <br>
   </div>

      <script>
        //button handler 
        function addPet() {

        console.log("addPet clicked")
          document.location.replace('/pet');

        }

        // });

        //User Location
        var x = document.getElementById("demo");
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
          }
        }

        function showPosition(position) {
          x.innerHTML = "Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude;
          var latitude = position.coords.latitude;
          localStorage.setItem("lat", latitude);
          var longitude = position.coords.longitude;
          localStorage.setItem("long", longitude);
        }

        //Yelp API search 
        $("#yelpBtn").on("click", function () {
          var provInput = document.getElementById("searchProv").value;
          localStorage.setItem("provTerm", provInput);
          const settings = {
            "async": true,
            "crossDomain": true,
            "url": "https://cors-anywhere.herokuapp.com/https://api.yelp.com/v3/businesses/search",
            "method": "GET",
            "headers": {
              "authorization": "Bearer OtPHKCuY1jmOsGPUZzwRiTMPh801290sRO3XbX026ZzZ2WD5lrTKhwb5WLX9tk_vsi_HJA_dvlqm8Y8mVfiCsWilSh9jwSykvB1QcsLTFEhmcGqvOSxFrnx8fCarX3Yx",
            },
            "data": {
              "term": localStorage.getItem('provTerm'),
              "latitude": localStorage.getItem('lat'),
              "longitude": localStorage.getItem('long'),
            }
          };

          //Display Yelp Results
          $.ajax(settings).done(function (response) {
            console.log(response);
            var yelpBusiness = response.businesses;
            let yelpResults;
            for (let i = 0; i < 10; i++) {
              let yelpName = yelpBusiness[i].name
              let yelpURL = yelpBusiness[i].url
              let rating = yelpBusiness[i].rating
              yelpResults = document.createElement('div');
              yelpResults.id = "yelp"; //Assign div id
              yelpResults.setAttribute("style", "float:left; width:66.5%; line-height: 26px; text-align:left; font-size:12pt; padding-left:8px; height:26px;"); //Set div attributes
              yelpResults.style.background = "white";
              a = document.createElement('a');
              a.href = yelpURL; // Insted of calling setAttribute 
              a.innerHTML = yelpName // <a>INNER_TEXT</a>
              yelpResults.appendChild(a); // Append the link to the div
              $("#yelpResults").prepend(yelpResults); // And append the div to the document body
            }
          })
        })


        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
          var x = document.getElementById("navDemo");
          if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
          } else {
            x.className = x.className.replace(" w3-show", "");
          }
        }
      </script>