<div class="row justify-space-between-md">
  <div class="ownerProfile-card">
    <h2 class="page-title">Owner Profile</h2>
    <form class="form ownerProfile-form">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input class="form-input" type="text" id="firstName" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input class="form-input" type="text" id="lastName" />
      </div>
      <div class="form-group">
        <label for="bio">Please enter a short bio:</label>
        <input class="form-input" type="textarea" id="bio" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create Owner Profile</button>
      </div>
    </form>
  </div>


  <script src="./js/ownerProfile.js"></script>