<div class="row justify-space-between-md">
  <div class="ownerProfile-card">
    <h2 class="page-title"> Profile</h2>
    <form class="form petProfile-form">
      <div class="form-group">
        <label for="petname">Pet Name:</label>
        <input class="form-input" type="text" id="petname" />
      </div>


                <div class="form-group">
            <button class="btn btn-primary" type="submit">Update Pet Profile</button>
          </div>

        </form>
      </div>

      <img src="./images/rocko.jpg" alt="bird" id="rocko">

      <div class="form-group">
        <label for="nickname">Nickname?(optional)</label>
        <input class="form-input" type="text" id="nickname" />
      </div>

      <div class="form-group">
        <label for="nickname">Species</label>
        <input class="form-input" type="text" id="species" />
      </div>


      <div class="form-group">
        <label for="nickname">Breed</label>
        <input class="form-input" type="text" id="breed" />
      </div>

      <div class="form-group">
        <label for="nickname">Birthdate</label>
        <input class="form-input" type="text" id="birthdate" />
      </div>
      <div class="form-group">
        <label for="microchip">Microchip Id (optional)</label>
        <input class="form-input" type="text" id="microchip" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create Pet Profile</button>
      </div>
    </form>
  </div>

  <img src="./images/panda.jpg" alt="dog" id="panda">

  <script src="./js/petProfile.js"></script>