<div class="row justify-space-between-md">
  <div class="ownerProfile-card">
    <h2 class="page-title">Pet Profile</h2>
    <form class="form ownerProfile-form">

      <div class="form-group">
        <label for="petName">Pet Name:</label>
        <input class="form-input" type="text" id="petName" />
      </div>

      <div class="form-group">
        <label for="nickname">Nickname:</label>
        <input class="form-input" type="text" id="nickname" />
      </div>

      <div class="form-group">
        <label for="species">Species:</label>
        <input class="form-input" type="text" id="species" />
      </div>

      <div class="form-group">
        <label for="breed">Breed:</label>
        <input class="form-input" type="text" id="breed" />
      </div>

      <div class="form-group">
        <label for="zip">Zipcode:</label>
        <input class="form-input" type="text" id="zip" />
      </div>

      <div class="form-group">
        <label for="birthdate">Birth/Adoption Date:</label>
        <input class="form-input" type="text" id="birthdate" />
      </div>

      <div class="form-group">
        <label for="weight">Weight:</label>
        <input class="form-input" type="text" id="weight" />
      </div>

      <div class="form-group">
        <label for="allergies">Allergies:</label>
        <input class="form-input" type="text" id="allergies" />
      </div>

      <div class="form-group">
        <label for="food">Food:</label>
        <input class="form-input" type="text" id="food" />
      </div>

      <div class="form-group">
        <label for="microchipId">Microchip Number:</label>
        <input class="form-input" type="text" id="microchipId" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create Pet Profile</button>
      </div>
    </form>
  </div>


  <script src="./js/ownerProfile.js"></script>