<div class="row justify-space-between-md">
  <div class="ownerProfile-card">
    <h2 class="page-title">Pet Profile</h2>
    <form class="form petProfile-form">
      <div class="container">
        <form action="action_page.php">

          <label for="pname">Pet Name</label>
          <input type="text" id="pname" name="petname" placeholder="Pet name..">

          <label for="nname">Pet Nickname</label>
          <input type="text" id="nname" name="nickname" placeholder="Pet Nickname..">

          <label for="species">Species</label>
          <input type="text" id="species" name="species" placeholder="Species..">

          <label for="breed">Pet Breed</label>
          <input type="text" id="breed" name="petbreed" placeholder="Breed..">

          <label for="birthdate">Pet Birthdate</label>
          <input type="text" id="bdate" name="birthdate" placeholder="Pet Birthdate..">

          <label for="weight">Pet Weight</label>
          <input type="text" id="weight" name="petweight" placeholder="Pet Weight..">

          <label for="breed">Allergies</label>
          <input type="text" id="breed" name="allergies" placeholder="Breed..">

          <label for="food">Food</label>
          <input type="text" id="food" name="food" placeholder="Favorite Food..">

          <label for="weight">Microchip Id</label>
          <input type="text" id="weight" name="microchip" placeholder="Microchip Id..">

          <div class="form-group">
            <button class="btn btn-primary" type="submit">Create Owner Profile</button>
          </div>
        </form>
      </div>

      <img src="./images/panda.jpg" alt="dog" id="panda">

      <script src="./js/ownerProfile.js"></script>