<<<<<<< HEAD

<div class="container">
  <form action="action_page.php">

    <label for="pname">Pet Name</label>
    <input type="text" id="pname" name="petname" placeholder="Pet name..">

    <label for="nname">Pet Nickname</label>
    <input type="text" id="nname" name="nickname" placeholder="Pet Nickname..">

    <label for="species">Species</label>
    <select id="species" name="species">
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="bunny">Bunny</option>
      <option value="rat">Rat</option>
      <option value="hamster">Hamster</option>
      <option value="guineaPig">Guinea Pig</option>
      <option value="turtle">Turtle</option>
      <option value="bird">Bird</option>
      <option value="ferret">Ferret</option>
    </select>

    <label for="nname">Pet Breed</label>
    <input type="text" id="breed" name="petbreed" placeholder="Breed..">

    <label for="nname">Zip Code</label>
    <input type="text" id="zip" name="zip" placeholder="Zip Code..">

    <label for="nname">Pet Birthdate</label>
    <input type="text" id="bdate" name="birthdate" placeholder="Pet Birthdate..">

    <label for="nname">Pet Weight</label>
    <input type="text" id="weight" name="petweight" placeholder="Pet Weight..">

    <label for="nname">Pet Allergies</label>
    <input type="text" id="allergies" name="allergies" placeholder="Pet Allergies..">

    <label for="nname">Pet Food</label>
    <input type="text" id="pfood" name="petfood" placeholder="Pet Food..">

    <label for="nname">Microchip ID</label>
    <input type="text" id="micro" name="microchip" placeholder="Microchip ID..">


    <input type="submit" value="Submit">

  </form>
</div>

{{#if pets.length}}
  <div class="col-md-6 project-list">
    <h3>Current Pets:</h3>

    {{#each pets as |pet|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/pet/{{pet.id}}">{{pet.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{pet.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/pet.js"></script>
=======
<div class="row justify-space-between-md">
  <div class="ownerProfile-card">
    <h2 class="page-title">Pet Profile</h2>
    <form class="form ownerProfile-form">

      <div class="form-group">
        <label for="petName">Pet Name:</label>
        <input class="form-input" type="text" id="petName" />
      </div>

      <div class="form-group">
        <label for="nickname">Nickname:</label>
        <input class="form-input" type="text" id="nickname" />
      </div>

      <div class="form-group">
        <label for="species">Species:</label>
        <input class="form-input" type="text" id="species" />
      </div>

      <div class="form-group">
        <label for="breed">Breed:</label>
        <input class="form-input" type="text" id="breed" />
      </div>

      <div class="form-group">
        <label for="zip">Zipcode:</label>
        <input class="form-input" type="text" id="zip" />
      </div>

      <div class="form-group">
        <label for="birthdate">Birth/Adoption Date:</label>
        <input class="form-input" type="text" id="birthdate" />
      </div>

      <div class="form-group">
        <label for="weight">Weight:</label>
        <input class="form-input" type="text" id="weight" />
      </div>

      <div class="form-group">
        <label for="allergies">Allergies:</label>
        <input class="form-input" type="text" id="allergies" />
      </div>

      <div class="form-group">
        <label for="food">Food:</label>
        <input class="form-input" type="text" id="food" />
      </div>

      <div class="form-group">
        <label for="microchipId">Microchip Number:</label>
        <input class="form-input" type="text" id="microchipId" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create Pet Profile</button>
      </div>
    </form>
  </div>


  <script src="./js/ownerProfile.js"></script>
>>>>>>> main
