
<div class="container">
  <form action="action_page.php">

    <label for="pname">Pet Name</label>
    <input type="text" id="pname" name="petname" placeholder="Pet name..">

    <label for="nname">Pet Nickname</label>
    <input type="text" id="nname" name="nickname" placeholder="Pet Nickname..">

    <label for="species">Species</label>
    <select id="species" name="species">
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
      <option value="bunny">Bunny</option>
      <option value="rat">Rat</option>
      <option value="hamster">Hamster</option>
      <option value="guineaPig">Guinea Pig</option>
      <option value="turtle">Turtle</option>
      <option value="bird">Bird</option>
      <option value="ferret">Ferret</option>
    </select>

    <label for="nname">Pet Breed</label>
    <input type="text" id="breed" name="petbreed" placeholder="Breed..">

    <label for="nname">Zip Code</label>
    <input type="text" id="zip" name="zip" placeholder="Zip Code..">

    <label for="nname">Pet Birthdate</label>
    <input type="text" id="bdate" name="birthdate" placeholder="Pet Birthdate..">

    <label for="nname">Pet Weight</label>
    <input type="text" id="weight" name="petweight" placeholder="Pet Weight..">
